
.class{
    background-color: lightcoral;
    color: yellow;
    text-align: center;
    padding: 10px 0px;
}

#id{
    background-color: lightblue;
    color: brown;
    text-align: center;
    padding: 10px 0px;
}

div > h1{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 0, 255);
    text-align: center;
    padding: 10px 0px;
}

div h2 {
    background-color: rgb(38, 0, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0px;
}
h2 {
    background-color: rgb(255, 251, 0);
    color: rgb(255, 0, 234);
    text-align: center;
    padding: 10px 0px;
}